# Virtual Environments Block
venv/
.venv/
env/
/venv/

# Massive Image Data Arrays Block
*.jpg
*.jpeg
*.png
*.pth
datasets/
Datasets/
Stage1_Dataset/
stage1_dataset/
Tea_Betel_Leaf_Final_Dataset/
**/Stage1_Dataset/**
**/*.jpg
**/*.png

# Administrative Cache Blks
.vscode/
__pycache__/
*.pyc
.DS_Store
'nCode/Inference_Streamlit/app.py
'nCode/Inference_Streamlit/plant_pathology_dashboard.html
'nCode/Inference_Streamlit/test_inference.py
